*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
}
.container{
    text-align: center;
    width: 900px;
    margin: auto;
    /* color: white; */
    box-shadow: 0 0 10px rgb(214, 213, 213);
    margin-bottom: 25px;
    /* padding: 10px; */
}
h1{
    margin-top: 25px;
}
.filter-buttons{
    margin-top: 20px;
    margin-bottom: 20px;
}
.filter-btn{
    margin: 5px;
    padding: 10px 15px;
    background-color: orange;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
}
.filter-btn:hover, .filter-btn.active{
    
    background-color: rgb(98, 81, 100);
   
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 15px;
}
.gallery .item{
    display: block;
   
    transition: 0.5s;
}
.gallery .item img{
    width: 260px;
    height: 230px;
    border: 2px solid rgb(235, 236, 232);
    transition: 0.7s;
    /* overflow: hidden; */
}
.gallery .item:hover{
    /* width: 270px;
    height: 240px; */
    transform: scale(1.1);
    /* border: 2px solid rgb(216, 218, 209); */
     /* box-shadow: 0 0 10px rgb(197, 196, 196); */
}
/* hide items initially */
.gallery .item{
    display: none;
}
.gallery .item.show{
    display: block;
}